<h2>Post details:</h2>
<br>
<p>
	<%= @row['content'] %>
	<br>
	<br>
	Added at <%= @row['created_date'] %> by <%= @row['author'] %>
	<hr>
</p>
<br>
<h4>Comments:</h4>
<br>
	<% @comments.each do |comment| %>
	<p>
		<%= comment['comment'] %>
		<br>
		<h6 style="color:#999">Added at <%= comment['created_date'] %></h6>
	</p>
	<hr>
<% end %>	
<p>
	<form action="/details/<%= @row['id'] %>" method="POST">
	 	<textarea name="comment" class="form-control" rows="5" placeholder="Type comment"></textarea>
	 	<br>
		<button type="submit" class="btn btn-primary">Add comment</button>
	</form>
</p>